In [1]:
list= ["Apple","Banana","Cherry","Mango"]

In [4]:
print(type(list))
print(list)

<class 'list'>
['Apple', 'Banana', 'Cherry', 'Mango']

In [8]:
names=["Pranjal","Deepak","Yash","Akash","Abdul"]
print(names[0])
print(names[4])
print(names[-1])

Pranjal
Abdul
Abdul

In [15]:
print(names[1:]) #Include form index 1 till the end
print(names[1:2])# Include from index 1 and removes the index 2
print(names[-3:-1])

['Deepak', 'Yash', 'Akash', 'Abdul']
['Deepak']
['Yash', 'Akash']

In [16]:
names[4]="Nigga"
print(names)

['Pranjal', 'Deepak', 'Yash', 'Akash', 'Nigga']

In [21]:
print(names[1:])

['W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [22]:
names[1:]="Watermelon"
print(names)

['Pranjal', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [9]:
many_var=[1,3.14,"Pranjal",True]
print(many_var)

[1, 3.14, 'Pranjal', True]

## List Methods

In [23]:
cars=["mercedes","bmw","tata","ford","Shelby"]

In [24]:
cars.append("Roll Royace")
print(cars)

['mercedes', 'bmw', 'tata', 'ford', 'Shelby', 'Roll Royace']

In [25]:
cars.insert(2,"Dodge")
print(cars)

['mercedes', 'bmw', 'Dodge', 'tata', 'ford', 'Shelby', 'Roll Royace']

In [26]:
cars.remove("tata")
print(cars)

['mercedes', 'bmw', 'Dodge', 'ford', 'Shelby', 'Roll Royace']

In [28]:
popped_cars=cars.pop()
print(popped_cars)
print(cars)

Shelby
['mercedes', 'bmw', 'Dodge', 'ford']

In [29]:
index = cars.index("bmw")
print(index)

1

In [30]:
cars.insert(3,"bmw")
print(cars.count("bmw"))

2

In [31]:
cars

['mercedes', 'bmw', 'Dodge', 'bmw', 'ford']

In [32]:
cars.sort() #Sort the list in ascending order

In [ ]:
cars.reverse() #Reverse from the list

In [33]:
cars

['Dodge', 'bmw', 'bmw', 'ford', 'mercedes']

In [37]:
cars.clear() #Remove all items form the list 
print(cars)

[]

## Slicing List

In [45]:
num = [1,2,3,4,5,6,7,8,9,0]
print(num[3:])
print(num[:5])
print(num[1:4])
print(num[::4])
print(num[::-2])

[4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5]
[2, 3, 4]
[1, 5, 9]
[0, 8, 6, 4, 2]

In [44]:
num[::3]

[1, 4, 7, 0]

In [46]:
num[::-2]

[0, 8, 6, 4, 2]

In [54]:
## Iteration on List
for number in num:
    print(number)

1
2
3
4
5
6
7
8
9
0

In [57]:
## Iterating with index
for index,number in enumerate(num):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 0

In [65]:
# List Comprehension
list=[]
for x in range(10):
    list.append(x**3)

print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [66]:
[x**7 for x in range(11)]

[0, 1, 128, 2187, 16384, 78125, 279936, 823543, 2097152, 4782969, 10000000]

In [68]:
for x in range(6):
    print(x)

0
1
2
3
4
5

# List comprehension

Basic Syntax               [expression for item in iterable]

with conditional logic     [expression for item in iterable if condition]

Nested List comprehension  [expression for item1 in iterable for item2 in iterable]

In [69]:
# Basic

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
# list with iteration or loops
list=[]
for i in range(10):
    if i%2==0:
        list.append(i)

print(list)

[0, 2, 4, 6, 8]

In [74]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [76]:
# Nested List Compreshension

l1=[1,2,3,4]
l2=['a','b','c','d']

pair=[(i,j) for i in l1 for j in l2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [77]:
#List compreshension with function calls

words=["Pranjal","Singh","Hello","World"]
lengths=[len(word) for word in words]
print(lengths)

[7, 5, 5, 5]