In [1]:
list= ["Apple","Banana","Cherry","Mango"]

In [4]:
print(type(list))
print(list)

<class 'list'>
['Apple', 'Banana', 'Cherry', 'Mango']

In [8]:
names=["Pranjal","Deepak","Yash","Akash","Abdul"]
print(names[0])
print(names[4])
print(names[-1])

Pranjal
Abdul
Abdul

In [15]:
print(names[1:]) #Include form index 1 till the end
print(names[1:2])# Include from index 1 and removes the index 2
print(names[-3:-1])

['Deepak', 'Yash', 'Akash', 'Abdul']
['Deepak']
['Yash', 'Akash']

In [16]:
names[4]="Nigga"
print(names)

['Pranjal', 'Deepak', 'Yash', 'Akash', 'Nigga']

In [21]:
print(names[1:])

['W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [22]:
names[1:]="Watermelon"
print(names)

['Pranjal', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [9]:
many_var=[1,3.14,"Pranjal",True]
print(many_var)

[1, 3.14, 'Pranjal', True]

## List Methods

In [23]:
cars=["mercedes","bmw","tata","ford","Shelby"]

In [24]:
cars.append("Roll Royace")
print(cars)

['mercedes', 'bmw', 'tata', 'ford', 'Shelby', 'Roll Royace']

In [25]:
cars.insert(2,"Dodge")
print(cars)

['mercedes', 'bmw', 'Dodge', 'tata', 'ford', 'Shelby', 'Roll Royace']

In [26]:
cars.remove("tata")
print(cars)

['mercedes', 'bmw', 'Dodge', 'ford', 'Shelby', 'Roll Royace']

In [28]:
popped_cars=cars.pop()
print(popped_cars)
print(cars)

Shelby
['mercedes', 'bmw', 'Dodge', 'ford']

In [29]:
index = cars.index("bmw")
print(index)

1

In [30]:
cars.insert(3,"bmw")
print(cars.count("bmw"))

2

In [31]:
cars

['mercedes', 'bmw', 'Dodge', 'bmw', 'ford']

In [32]:
cars.sort() #Sort the list in ascending order

In [ ]:
cars.reverse() #Reverse from the list

In [33]:
cars

['Dodge', 'bmw', 'bmw', 'ford', 'mercedes']

In [37]:
cars.clear() #Remove all items form the list 
print(cars)

[]

## Slicing List

In [43]:
num = [1,2,3,4,5,6,7,8,9,0]
print(num[3:])
print(num[:5])
print(num[1:4])
print(num[::4])
print(num[:-2])

[4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5]
[2, 3, 4]
[1, 5, 9]
[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
num[::3]

[1, 4, 7, 0]