In [1]:
# For loop
range(10)

range(0, 10)

In [3]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [5]:
range(1,10,2)

range(1, 10, 2)

In [6]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [1]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [2]:
# Strings

str="Pranjal Singh"
for i in str:
    print(i)

P
r
a
n
j
a
l

S
i
n
g
h

In [5]:
# While loop

count=0

while count<=10:
    print(count)
    count = count+1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

In [12]:
#Loop control statements

# break

for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [ ]:
# Continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [14]:
# pass

for i in range(5):
    if i==3:
        pass
    print (i)

0
1
2
3
4

In [15]:
# Nested loops

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [16]:
# Ex- Calculate the sum of first n natural numbers using while loop
sum=0
n=10
count=1
while count<=n:
    sum=sum+count
    count=count+1

print("Sum of the N natural numbers:", sum)

Sum of the N natural numbers: 55

In [20]:
sum=0
for i in range(50):
    sum=sum+i

print("Total sum is:", sum)

Total sum is: 1225

In [25]:
# Ex- Display all prime numbers between 1 to 100
for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97