# Map Function
This function is applied to all items in a lsit and return a map.

In [1]:

def square(n):
    return n*n

square(56)

3136

In [2]:
n=[3,4,6,7,8,9]
list(map(square,n))

[9, 16, 36, 49, 64, 81]

In [3]:
# Using lambda func. with map
list(map(lambda x:x**2,n))

[9, 16, 36, 49, 64, 81]

In [4]:
# Map multiple iterable

num1=[1,2,3]
num2=[5,6,7]

add=list(map(lambda x,y:x+y,num1,num2))
print(add)

[6, 8, 10]

In [5]:
# Map to convert to list of string to integers

str=['1','2','3','4','5']
int=list(map(int,str))
print(int)

[1, 2, 3, 4, 5]

In [1]:
words = ['apple', 'banana', 'cherry']
upper = list(map(str.upper, words))
print(upper)

['APPLE', 'BANANA', 'CHERRY']

In [4]:
def get_name(person):
    return person['name']

people=[
    {'name':'Pranjal','age':19},
    {'name':'Nitika','age':20}
]

list(map(get_name,people))

['Pranjal', 'Nitika']