## Tuples

They are immutable.

In [15]:
#Create a Tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
num = tuple([1,2,3,4,5,6])
num

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mix = (9,"Pranjal",3.14,False)
print(mix)

(9, 'Pranjal', 3.14, False)

In [6]:
#Accessing tuple elements
num

(1, 2, 3, 4, 5, 6)

In [8]:
print(num[2])
print(num[-3])

3
4

In [12]:
num[0:4]

(1, 2, 3, 4)

In [13]:
num[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
#Tuple Operation
concatenation_tup=num+mix
print(concatenation_tup)

(1, 2, 3, 4, 5, 6, 9, 'Pranjal', 3.14, False)

In [16]:
mix * 2

(9, 'Pranjal', 3.14, False, 9, 'Pranjal', 3.14, False)

In [17]:
num*2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
#Immutable Nature of Tuple

list1=[1,2,3,4,5]
print(list1)

list1[4]="Pranjal"
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'Pranjal']

In [28]:
#Tuple Methods
print(num.count(1))
print(num.index(5))

1
4

In [30]:
#Packing and Unpacking tuple
packed=9,"Pranjal",True     #Packing
print(packed)

a,b,c=packed                #Unpacking
print(a,b,c)

(9, 'Pranjal', True)
9 Pranjal True

In [31]:
#Unpacking with star *
a,*b,c=num
print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

In [37]:
# Nested Tuple
# Nested List
list=[[1,2,3,4,5,6],[10,11,12,13],["Pranjal","Singh"]]
list[1][1:3]

[11, 12]

In [39]:
# Nested Tuple
list=[[1,2,3,4,5,6],[10,11,12,13],("Pranjal","Singh")]
list[2][0:3]

('Pranjal', 'Singh')

In [41]:

for sub_tup in list:
    for item in sub_tup:
        print(item,end=" ")
    print()

1 2 3 4 5 6
10 11 12 13
Pranjal Singh